/**
 * @name Better Bot Tags
 * @description This snippet replaces the default "BOT" tag with a more descriptive "WEBHOOK" tag for webhook accounts, making it easier to identify bridged accounts for example.
 * @author GH0STP4WZ#0001
 * @version 1.0
 * @tags Accessibility, Personalization
 * @workswith Canary
 */


[data-flx-author-webhook="true"] {
  .ChannelUserTag\.module__tag___XzY5Mm {
    span {
      font-size: 0;
      &:before {
        content: "WEBHOOK";
        font-size: 10px;
      }
    }
  }
}
