/**
 * @name Enhanced Alert Blocks Variant 1
 * @description More Stylized Alert Blocks. (Variant 1 — UserNamePlate Inspired)
 * @author GH0STP4WZ#0001
 * @version Preview
 * @tags Styling, Customization
 */

.Markup\.module__alert___XzQ5ZD.Markup\.module__alert___XzQ5ZD {
    position: relative;
    max-width: 100%;
    width: fit-content;

    background:
        linear-gradient(
            90deg,
            color-mix(
                in srgb,
                currentcolor 20%,
                transparent
            ) 15%,
            color-mix(
                in srgb,
                currentcolor 5%,
                transparent
            ) 50%,
            transparent 70%
        );
}

.Markup\.module__alert___XzQ5ZD.Markup\.module__alert___XzQ5ZD::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;

    width: 100%;
    height: 3px;

    border-radius: 4px;

    background:
        linear-gradient(
            90deg,
            color-mix(
                in srgb,
                currentcolor 80%,
                transparent
            ) 15%,
            color-mix(
                in srgb,
                currentcolor 45%,
                transparent
            ) 50%,
            transparent 70%
        );
}

.Markup\.module__alertTitle___XzQ5ZD {
    width: fit-content;
    padding: 0 5px;

    margin: 0 -3px;

    border: 1px solid
        color-mix(
            in srgb,
            currentcolor 70%,
            transparent
        );

    border-radius: 5px;

    background:
        linear-gradient(
            180deg,
            color-mix(
                in srgb,
                currentcolor 10%,
                transparent
            ),
            color-mix(
                in srgb,
                currentcolor 30%,
                transparent
            )
        );

    filter:
        drop-shadow(
            0 0 1px
            color-mix(
                in srgb,
                currentcolor 20%,
                transparent
            )
        );
}
